In [10]:
import numpy as np 
import pandas as pd
import math
import matplotlib.pyplot as plt 
from scipy.stats import chi2

plt.rcParams['figure.figsize'] = (10.0, 8.0) # set default size of plots
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'

## $$\xi\ -\ Распределение\ типов\ размера\ деталей\ в\ первой\ партии$$
## $$\eta\ -\ Распределение\ типов\ размера\ деталей\ во\ второй\ партии$$
# $$H_0: \xi,\ \eta\ -\ независимы$$
# $$H_1: \overline{H_0}$$
# $$\alpha = 0.05$$

In [11]:
n = 200
columns = ["Партия 1", "Партия 2"]
index = ["Заниженный размер", "Точный размер", "Завышенный размер"]
data_df = pd.DataFrame(columns=columns, index = pd.Index(index))
data_df.loc["Заниженный размер", :] = np.array([25, 52])
data_df.loc["Точный размер", :] = np.array([50, 41])
data_df.loc["Завышенный размер", :] = np.array([25, 7])
data_df

                  Партия 1 Партия 2
Заниженный размер       25       52
Точный размер           50       41
Завышенный размер       25        7

## $$\widetilde{p_i} = \frac{\displaystyle\sum_{j=1}^{k} m_{ij}}{n}$$

In [12]:
p_df = pd.DataFrame(columns=[1, 2, 3], index=pd.Index(["p_i"]))
p_df.loc["p_i", :] = np.array([np.sum(data_df.loc[data_df.index[i], :])/n for i in (0, 1, 2)])
p_df

         1      2     3
p_i  0.385  0.455  0.16

## $$\widetilde{q_i} = \frac{\displaystyle\sum_{j=1}^{l} m_{ji}}{n}$$

In [13]:
q_df = pd.DataFrame(columns=[1, 2], index=pd.Index(["q_j"]))
q_df.loc["q_j", :] = np.array([np.sum(data_df.loc[pd.Index(index), columns[i]])/n for i in (0, 1)])
q_df

       1    2
q_j  0.5  0.5

## $$\widetilde{\Delta} = \displaystyle\sum_{i,j}^{k,l} \frac{(m_{ij} - np_i q_j)^2}{np_i q_j}$$

In [16]:
delta = 0
for i in (1, 2, 3):
    for j in (1, 2):
        m_ij = data_df.loc[index[i-1], columns[j-1]]
        p_i = p_df.loc["p_i", i]
        q_j = q_df.loc["q_j", j]
        delta += (m_ij - n*p_i*q_j)**2/(n*p_i*q_j)
print(f"\u0303\u0394 = {delta}")

̃Δ = 20.48264235764236

# $$p\_value = P(\Delta \ge \widetilde{\Delta}|H_0) = \displaystyle\int_{\widetilde{\Delta}}^{+\infty} q(t)dt$$
# $q(t) = (\chi^2((k-1)(l-1)))'$

In [ ]:
sf = chi2.sf(delta, (2-1)*(3-1))
print(f"p-value = {sf}")

3.566569773595299e-05

### p-value $> \alpha \Rightarrow$ отвергаем $H_0$