In [3]:
import numpy as np 
import pandas as pd
import math
import matplotlib.pyplot as plt 
from scipy.stats import chi2

plt.rcParams['figure.figsize'] = (10.0, 8.0) # set default size of plots
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'

## $$\xi\ -\ Распределение\ оценок в\ первом\ потоке$$
## $$\eta\ -\ Распределение\ оценок во\ втором\ потоке$$
# $$H_0: \xi,\ \eta\ -\ однородны$$
# $$H_1: \overline{H_0}$$
# $$\alpha = 0.05$$

In [4]:
n = 600
columns = ["Поток 1", "Поток 2"]
index = [2, 3, 4, 5]
data_df = pd.DataFrame(columns=columns, index = pd.Index(index))
data_df.loc[2, :] = np.array([33, 39])
data_df.loc[3, :] = np.array([43, 35])
data_df.loc[4, :] = np.array([80, 72])
data_df.loc[5, :] = np.array([144, 154])
data_df

  Поток 1 Поток 2
2      33      39
3      43      35
4      80      72
5     144     154

## $$\widetilde{p_j} = \nu_j = \frac{\displaystyle\sum_{i=1}^{l} m_{ij}}{n},\ n = \displaystyle\sum_{i=1}^{l} n_i$$

In [5]:
nu_df = pd.DataFrame(columns=[1, 2], index=pd.Index(["nu_i"]))
nu_df.loc["nu_i", :] = np.array([np.sum(data_df.loc[pd.Index(index), columns[i]])/n for i in range(0, 2)])
nu_df

        1    2
nu_i  0.5  0.5

## $$\widetilde{\Delta_s} = \displaystyle\sum_{j=1}^{k} \frac{(m_{sj} - n_s \nu_j)^2}{n_s \nu_j}$$

In [6]:
def delta_s(s: int, nu: pd.DataFrame, df: pd.DataFrame):
    n_s = np.sum(df.loc[index[s-1], :])
    _delta_s = 0
    for j in (1, 2):
        m_ij = df.loc[index[s-1], columns[j-1]]
        nu_j = nu.loc["nu_i", j]
        _delta_s += (m_ij - n_s*nu_j)**2/(n_s*nu_j)
    return _delta_s

delta_df = pd.DataFrame(columns=[1, 2, 3, 4], index=pd.Index(["delta_s"]))
delta_df.loc["delta_s", :] = np.array([delta_s(s, nu_df, data_df) for s in (1, 2, 3, 4)])
delta_df

           1         2         3        4
delta_s  0.5  0.820513  0.421053  0.33557

## $$\widetilde{\Delta} = \displaystyle\sum_{s=1}^{l} \widetilde{\Delta_s}$$

In [7]:
delta = np.sum(delta_df.loc["delta_s", :])
print(f"\u0303\u0394 = {delta}")

̃Δ = 2.0771359218904255

# $$p\_value = P(\Delta \ge \widetilde{\Delta}|H_0) = \displaystyle\int_{\widetilde{\Delta}}^{+\infty} q(t)dt$$
# $q(t) = (\chi^2((k-1)(l-1)))'$

In [ ]:
sf = chi2.sf(delta, (2-1)*(4-1))
print(f"p-value = {sf}")

0.5565521530460769